
.invert{
    filter: invert(1);
}
ul{
    list-style-type: none;
}

.list{
    font-size: 20px;
    color: rgb(231, 233, 234);
    width: fit-content;
  
    padding: 8px 25px 8px 10px;
    border-radius: 30px;
   
}
.list:hover{
    background-color: #231f1f;
    cursor: pointer;
}
.logo{
    margin: 10px 45px 23px;
}
.input{
    width: 306px;
    height: 42px;
    background-color: #2c2d2d;
    border: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

   
   
    color: white;
}
input:focus{
    outline:none;
}

.icon{
    background-color: #2c2d2d;
    width: 75px;
    height: 42px;
   border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.trending{
    width: 380px;
    border-radius: 20px;
    background-color: #2c2d2d;
    color: rgb(231, 233, 234);
}
.trending-item p{
    font-size: 14px;
    font-weight: light;
    color: rgb(148, 146, 146);
}
